In [24]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [25]:
# call the webdriver and start the crome
driver = webdriver.Chrome(executable_path= r"C:\api\chromedriver.exe")
driver.maximize_window()

C:\Users\DEEPAK VERMA\AppData\Local\Temp\ipykernel_3304\1454730213.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path= r"C:\api\chromedriver.exe")

In [26]:
# define one base_url of the sites
base_url = 'https://www.iplt20.com/stats/'
#list of all the sessions
session_list = list(range(2008,2024))
# create one dictionary of all the sessions
all_session_url = {}
for i in range(2008,2024):
    all_session_url[i] = base_url+str(i)

In [27]:
driver.get(all_session_url[2008])
sleep(5)
try:
    driver.find_element(By.XPATH, "/html/body/div[3]/div/button").click()
    sleep(2)
except:
    print("working")
driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[2]/div/div[2]/div/div[1]").click()
driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[2]/div/div[2]/div/div[2]/div[1]/span[2]").click() 
driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[2]/div/div[2]/div/div[2]/div[15]").click()
view_all = driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[4]/div[3]/div/div[1]/div/a")
driver.execute_script("arguments[0].click();", view_all)
html = driver.page_source
soup = BeautifulSoup(html)

In [28]:
def get_session_stats(url):
    driver.get(url)
    sleep(5)
    try:
        driver.find_element(By.XPATH, "/html/body/div[3]/div/button").click()
        sleep(2)
    except:
        print("working")
    driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[2]/div/div[2]/div/div[1]").click()
    driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[2]/div/div[2]/div/div[2]/div[1]/span[2]").click() 
    driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[2]/div/div[2]/div/div[2]/div[15]").click()
    view_all = driver.find_element(By.XPATH, "/html/body/div[2]/div[4]/section/div/div[3]/div[4]/div[3]/div/div[1]/div/a")
    driver.execute_script("arguments[0].click();", view_all)
    html = driver.page_source
    soup = BeautifulSoup(html)
    all_tr_tag = soup.find_all("tr")
    col = [ i.text for i in all_tr_tag[0] if i.text !=""]
    stats_list = []
    for i in all_tr_tag[1:]:
        stats_list.append([j.text for j in i.find_all("td") if j.text != ""])
    df = pd.DataFrame(stats_list,  columns=col)
    df['session'] = url[-4:]
    df.dropna(inplace = True)
    print("**********************")
    print(url[-4:],"scraped successfully")
    return df

In [29]:
df = get_session_stats(all_session_url[2008])

working
**********************
2008 scraped successfully

In [30]:
for i in list(all_session_url.values())[1:]:
    new_df = get_session_stats(i)
    df = pd.concat([df, new_df], ignore_index=True)

working
**********************
2009 scraped successfully
working
**********************
2010 scraped successfully
working
**********************
2011 scraped successfully
working
**********************
2012 scraped successfully
working
**********************
2013 scraped successfully
working
**********************
2014 scraped successfully
working
**********************
2015 scraped successfully
working
**********************
2016 scraped successfully
working
**********************
2017 scraped successfully
working
**********************
2018 scraped successfully
working
**********************
2019 scraped successfully
working
**********************
2020 scraped successfully
working
**********************
2021 scraped successfully
working
**********************
2022 scraped successfully
working
**********************
2023 scraped successfully

In [31]:
df.to_csv("bowlers.csv")

In [32]:
df

,POS,Player,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w,session
0,1,Sohail TanvirRR,11,11,41,266,22,6/14,12.09,6.46,11.22,1,1,2008
1,2,Shane WarneRR,15,15,52,404,19,4/21,21.26,7.76,16.42,0,0,2008
2,3,Shanthakumaran SreesanthPBKS,15,15,51,442,19,3/29,23.26,8.63,16.15,0,0,2008
3,4,Piyush ChawlaPBKS,15,15,47,389,17,4/17,22.88,8.30,16.52,0,0,2008
4,5,Albie MorkelCSK,13,13,48,399,17,4/32,23.47,8.31,16.94,1,0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,109,Akash DeepRCB,2,2,5.0,59,1,29/1,59.00,11.80,30.00,0,0,2023
1467,110,Lockie FergusonKKR,3,3,7.4,96,1,19/1,96.00,12.52,46.00,0,0,2023
1468,111,Duan JansenMI,1,1,4.0,53,1,53/1,53.00,13.25,24.00,0,0,2023
1469,112,Shahbaz AhmedRCB,10,5,7.0,95,1,38/1,95.00,13.57,42.00,0,0,2023
1470,113,Kartik TyagiSRH,3,3,6.1,92,1,30/1,92.00,14.91,37.00,0,0,2023